.node:hover, .edge:hover, path:hover, path + polygon:hover {
    cursor: pointer;
    stroke-width: 3;
    font-weight: bolder;
}

.my_hover {
    cursor: pointer;
    stroke-width: 3;
    font-weight: bolder;
}
